<div class="modal-header">
	<h1>Add {{name3}} for projectName</h1>
</div>
<div class="modal-body">
	<form role="form" name="addGraphInProject" novalidate>
		<div ng-repeat="graph in graph" ">
           <input type="checkbox" name="graph_name" ng-model="graph.graph_checked" /><span tooltip={{graph.graphDescription}} tooltip-placement="right" tooltip-trigger="mouseenter" style="margin-left: 10px; font-size: 16px">{{graph.graph_name}}</span><br />
           <div ng-show= "graph.graph_checked" style="margin-left: 40px;">
           		<!-- <label for="validRange" class="col-sm-3 control-label">Valid Range</label> -->
           		<div>Valid Range</div>
		        <div class="row">
		        	<div class="form-group col-xs-3">
		        		<select ng-model="graph.options" class="form-control" ng-options = "o as o for o in options"></select>
		        	</div>
		        	<div class="form-group col-xs-9">
		        		<ng-form name="validinputForm{{index}}">
		        			<div ng-class="{ 'has-error' : validinputForm{{index}}.validinput.$error.pattern}">
		        				<input ng-keyup="getValue($event)" ng-keypress="change($event)" type="text" ng-pattern="/^[0-9]+$/" name = "validinput" id="validinput" class="form-control" ng-model="graph.validinput"/>
		        				<p ng-show="validinputForm{{index}}.validinput.$error.pattern" class="help-block">Only numbers are allowed</p>
		        			</div>
		        		</ng-form>
		        	</div>
			    </div>
           </div>
       </div>
	</form>
</div>
<div class="modal-footer">
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default " value="Cancel" ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary " value="Save" ng-click="saveForm()" ng-disabled = "addGraphInProject.$invalid"/>
    </div>
</div>