<input type="button" class="btn btn-primary" value="Add {{name}}" ng-disabled = "!authorization($index)" ng-click="addproject()"/>
<br />
<br />
<div class="form-group">
    <table align="center" border="1" class="table table-hover table-bordered table-striped" style="width:85%;">
        <thead>
            <tr>
                <th style="width:14%;">{{name}} Name</th>
                <th style="width:13%;">TL/PL Name</th>
                <th style="width:30%;">{{name3}}</th>
                <th align="center" style=" text-align:center; width:13%;">Update {{name}}</th>
                <th align="center" style=" text-align:center; width:13%;">Delete {{name}}</th>
                <th align="center" style=" text-align:center; width:13%;">View {{name3}} Trends</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="proj in project">
                <td>{{proj.p_name}}</td>
                <td>{{proj.tl}}</td>
                <td>
                	<div ng-repeat="graph in proj.Graph">
                		{{graph.graph_name}} [{{graph.validRange}}]<br>
                	</div>
                </td>
                <!-- <td align="center" style="vertical-align: middle;"><h5 class="anchorColor" ng-if="!authorized">Update</h5><a class="anchorColor" ng-if="authorized" ng-click="editGraphInProject(proj.p_id)">Update</a></td>
                <td align="center" style="vertical-align: middle;"><h5 class="anchorColor" ng-if="!authorized">Delete</h5><a class="anchorColor" ng-if="authorized" ng-click="deleteProject(proj.p_id)">Delete</a></td>
                <td align="center" style="vertical-align: middle;"><h5 class="anchorColor" ng-if="!authorized">View</h5><a class="anchorColor" ng-if="authorized" ng-click="ViewTrends(proj.p_id)">View</a></td>-->
				<td align="center" style="vertical-align: middle;"><input type="button" value="Update" class="btn btn-primary" ng-disabled = "!authorization($index)" ng-click="editGraphInProject(proj.p_id)" /></td>
                <td align="center" style="vertical-align: middle;"><input type="button" value="Delete" class="btn btn-primary" ng-disabled = "!authorization($index)" ng-click="deleteProject(proj.p_id)" /></td>
                <td align="center" style="vertical-align: middle;"><input type="button" value="View" class="btn btn-primary" ng-disabled = "!authorization($index)" ng-click="ViewTrends(proj.p_id)" /></td>
            </tr>
        </tbody>
    </table>
</div>